* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecb454;
    color: black;
    font-family: "Righteous", sans-serif;
    box-sizing: border-box;
    margin: 50px;
    margin-bottom: 50px;
  }

  .box1, .box2, .box3, .box4, .box5 {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    animation: fadeIn 6s; 
    align-content: flex-start;
    gap: 10px;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  a {
    text-decoration: none;
  }


/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #212121;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: white;
}

